* {
    /* font-family: 'Alkatra', cursive; */
    /* font-family: 'Noto Sans Lao', sans-serif; */
    font-family: 'Roboto', sans-serif;
    
}
body{
    overflow-x: hidden;
    font-weight: bold;
}

.carousel-item img{
    width: 100%;
    height: 80vh;
}